.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
public/node_modules/
public/img/
public/package-lock.json
public/package.json
.vscode/
logs/
*.rst
license.txt
.editorconfig
composer.json
solicitudes.code-workspace
public/assets/
public/css/chosen/
public/css/font-awesome/
public/node_modules/
public/img/
public/gulpfile.babel.js
public/package-lock.json
public/package.json
application/config/database.php